<!DOCTYPE html>
{% extends 'base.html' %} {% block content %} {% load static %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">About</h1>
      <p>RealOffice has been developed as part of CS3410 Software Engineering course by:<br><br>
          1. Vignesh Manoharan <br>
          2. Prem Krishnaa J <br>
          3. Vishwanath G V <br>
          4. Ganapathi L <br>
          5. Aravind S <br><br>
          RealOffice helps office staff working in CS Department office to schedule meetings effectively and generate periodic reports.
      </p>
    </div>
  </div>
{% endblock %}