{% extends 'base.html' %} {% block content %} {% load static %}

<style>
.button {
    background-color: #bcc4d1;
    border: none;
    color: black;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>



<form id="form-id" method="post" action="/meeting/individual_meeting/">
{% csrf_token %}  
<input type="hidden" id="meetingid" name="meetid" value="0">
<!-- <div onclick="document.getElementById('form-id').submit();">Click Me</div> -->
</form>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">List of Meetings</h1>
        {% csrf_token %} {% for field in meeting %}
          <div >
            <a href="#" class="button" style="text-align:left;width:1000px"
              onclick="console.log('{{field.id}}');document.getElementById('meetingid').value='{{field.id}}';document.getElementById('form-id').submit()" >{{field.id}}. {{field.name}}, {{field.venue}}, {{field.start}}</a>
          </div>
        {% endfor %}      
    </div>
  </div>

{% endblock %}